.nav {
	position: relative;
	margin: 20px 0;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0 5px 10px 0;
		padding: 0;
		list-style: none;
		display: inline-block;
	}
	a {
		padding: 3px 12px;
		text-decoration: none;
		color: #999;
		line-height: 100%;
		&:hover {
			color: #000;
		}
	}
	.current a {
		background: #999;
		color: #fff;
		border-radius: 5px;
	}
}

nav[role="navigation] {
	z-index: 200;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.js {
	.menu-all-pages-container {
		@media screen and (max-width: 1279px) {
			position: absolute;
			top: 0;
			height: 100%;
			width: 80%;
			background: $nav-bg;
			box-shadow: inset -1.5em 0 1.5em -0.75em $shadow-color;

			&:not(:target) {
				z-index: 1;
				height: 0;
			}
		}
	}
}